<% cache do %>
  <footer class="app-footer">
    <div class="img"></div>
    <div class="app-cont">
      <!-- <h1 class="app-logo">
        <%= link_to :root do %>
          Blog Application
        <% end %>
      </h1> -->
      <div class="copy">
        <center><%= Time.now.year %> &copy; <%= link_to 'Deepak Gorijala' %></center>
      </div>
    </div>
  </footer>
<% end %>
