<% cache do %>
<header class="app-header">
  <div class="img"></div>
  <div class="app-cont">
    <h1 class="app-logo">
      <!-- <a class="navbar" href="/">Blog</a> -->
      <%= link_to :root do %>
      Blog Application
      <% end %>
</h1>
</div>
</header>
<% end %>
